Source: libagdb
Section: libs
Priority: extra
Maintainer: Joachim Metz <joachim.metz@gmail.com>
Build-Depends: debhelper (>= 7), autotools-dev
Standards-Version: 3.9.5
Homepage: https://github.com/libyal/libagdb/

Package: libagdb
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Suggests: libagdb-dbg
Description: Library to access the Windows SuperFetch database (AGDB) file format
 libagdb is a library to access the Windows SuperFetch database (AGDB) file format.

Package: libagdb-dbg
Architecture: any
Section: debug
Depends: libagdb (= ${binary:Version}), ${misc:Depends}
Description: Debugging symbols for libagdb
 Debugging symbols for libagdb.

Package: libagdb-dev
Section: libdevel
Architecture: any
Depends: libagdb (= ${binary:Version}), ${misc:Depends}
Description: Header files and libraries for developing applications for libagdb
 Header files and libraries for developing applications for libagdb.

Package: libagdb-tools
Section: utils
Architecture: any
Depends: libagdb (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Description: Several tools for reading Windows SuperFetch database (AGDB) files
 Several tools for reading Windows SuperFetch database (AGDB) files.

