Source: libagdb
Priority: extra
Maintainer: Joachim Metz <joachim.metz@gmail.com>
Build-Depends: debhelper (>= 9), dh-autoreconf, pkg-config
Standards-Version: 4.1.4
Section: libs
Homepage: https://github.com/libyal/libagdb
Vcs-Git: https://github.com/libyal/libagdb.git

Package: libagdb
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Conflicts: libagdb1
Replaces: libagdb1
Suggests: libagdb-dbg
Description: Library to access the Windows SuperFetch database (AGDB) file format
 libagdb is a library to access the Windows SuperFetch database (AGDB) file format.

Package: libagdb-dbg
Architecture: any
Section: debug
Depends: libagdb (= ${binary:Version}), ${misc:Depends}
Description: Debugging symbols for libagdb
 Debugging symbols for libagdb.

Package: libagdb-dev
Section: libdevel
Architecture: any
Depends: libagdb (= ${binary:Version}), ${misc:Depends}
Description: Header files and libraries for developing applications for libagdb
 Header files and libraries for developing applications for libagdb.

Package: libagdb-tools
Section: utils
Architecture: any
Depends: libagdb (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Conflicts: libagdb-utils
Replaces: libagdb-utils
Description: Several tools for reading Windows SuperFetch database (AGDB) files
 Several tools for reading Windows SuperFetch database (AGDB) files.

Package: libagdb-tools-dbg
Section: debug
Architecture: any
Depends: libagdb-tools (= ${binary:Version}), ${misc:Depends}
Description: Debugging symbols for libagdb-tools
 Debugging symbols for libagdb-tools.

